<!-- we want this template to ask user a quick ques before they cnfrm their actions ,
ques- if they want to actually del that item and give the option to cancel it-->


{%  extends 'accounts/main.html' %}
{% load static %}
{% block content %}

<br>
<div class="row">
<div class="col-md-6">
  <div class="card card-body">


    <p>Are you sure you want to delete "{{item}}"?</p>

    <form action="{% url 'delete_order' item.id  %}" method="POST">

      {% csrf_token %}
      <!--CSRF stands for Cross-Site Request Forgery -->
      <a class="btn btn-warning" href="{% url 'home' %}">Cancel</a>

      <input class="btn btn-danger" type="submit" name="Confirm">
    </form>
  </div>
</div>
</div>

{% endblock %}
